# IntelliJ
main_script/.idea/*
main_script/out/*
main_script/target/classes/*
# XSpec
*-report.html
*_catalog.xml
*-compiled.xsl
*-result.xml
# Files that should not be committed.
export/to_dvpml/xslt/*.jar
export/to_dvpml/xslt/*/*.jar
